<div class=content fxLayout="column">
<mat-toolbar color="primary" class="navbar mat-toolbarZ" >
  <div>
    <button mat-button [routerLink]="['/welcome']" routerLinkActive="router-link-active">{{title}}</button>
  </div>

  <span>
   <!-- Angular Dark Mode -->
   <div class="flex-stretch">
    <!-- <mat-icon class="mr-8 svgIcon="brightness_5"></mat-icon>     -->
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle 
        [formControl]="toggleControl" class="mr-8">
    </mat-slide-toggle>
    <!-- <mat-icon svgIcon="bedtime"></mat-icon> -->
    <mat-icon>bedtime</mat-icon>
    </div>
  </span>

<span>
  <mktAffiliate-nav-bar class=footer></mktAffiliate-nav-bar>
  <!-- <mktAffiliate-navbar></mktAffiliate-navbar> -->
</span>
  
</mat-toolbar>


<div fxFlex='1' fxLayOut='row'>

<router-outlet></router-outlet>

<span>
  <button (click)='login()'>Login</button>
</span>

<span>
  <button (click)='logout()'>Logout</button>
</span>

<span>
  <button mat-button [routerLink]="['/coursesData']" routerLinkActive="router-link-active">View Courses</button>
</span>

<span>
  <button mat-button [routerLink]="['/courses']" routerLinkActive="router-link-active">View Courses with Manual Table</button>
</span>

</div>


</div>

<!-- <div><mktAffiliate-courses-data></mktAffiliate-courses-data></div> -->


<div class=footer>
<mat-toolbar color="primary">

  <mktAffiliate-footer></mktAffiliate-footer>

</mat-toolbar>
</div>